package blas

// matrix of {{.Type}} stored internally in row major order
type {{.Struct}} struct {
	rows   int
	cols   int
	stride int
	data   []{{.Type}}
	format string
}

// constructor
func new{{.Struct}}(rows, cols int) Matrix {
	return &{{.Struct}}{
		rows:   rows,
		cols:   cols,
		stride: cols,
		data:   make([]{{.Type}}, rows*cols),
		format: "%8.4f",
	}
}

func (m *{{.Struct}}) Release() {}

// accessors
func (m *{{.Struct}}) Rows() int { return m.rows }

func (m *{{.Struct}}) Cols() int { return m.cols }

func (m *{{.Struct}}) Size() int { return len(m.data) }

func (m *{{.Struct}}) SetFormat(f string) { m.format = f }

func (m *{{.Struct}}) String() string { 
	return format(m.format, m.rows, m.cols, m.Data(RowMajor))
}

func (m *{{.Struct}}) at(row, col int) {{.Type}} {
	return m.data[row*m.stride + col] 
}

func (m *{{.Struct}}) set(row, col int, val {{.Type}}) { 
	m.data[row*m.stride + col] = val
}

// Load method initialises a matrix with data from a list of float64 values.
// If the number of values is less than the size then they are repeated to fill the matrix.
func (m *{{.Struct}}) Load(order Ordering, vals ...float64) Matrix {
	if len(vals) == 0 {
		panic("blas:Load - no data provided")
	}
	next := getNext(vals)
	if order == RowMajor {
		for row := 0; row < m.rows; row++ {
			for col := 0; col < m.cols; col++ {
				m.set(row, col, {{.Type}}(next()))
			}
		}
	} else {
		for col := 0; col < m.cols; col++ {
			for row := 0; row < m.rows; row++ {
				m.set(row, col, {{.Type}}(next()))
			}
		}
	}
	return m
}

// Data method returns a copy of the matrix data as a slice
func (m *{{.Struct}}) Data(order Ordering) []float64 {
	data := make([]float64, m.rows*m.cols)
	i := 0
	if order == RowMajor {
		for row := 0; row < m.rows; row++ {
			for col := 0; col < m.cols; col++ {
				data[i] = float64(m.at(row, col))
				i++
			}
		}
	} else {
		for col := 0; col < m.cols; col++ {
			for row := 0; row < m.rows; row++ {
				data[i] = float64(m.at(row, col))
				i++
			}
		}
	}
	return data
}

// Copy method returns a copy of the input matrix
func (m *{{.Struct}}) Copy(in Matrix) Matrix {
	a := in.(*{{.Struct}})
	m.Reshape(a.rows, a.cols, false)
	for row := 0; row < m.rows; row++ {
		for col := 0; col < m.cols; col++ {
			m.set(row, col, a.at(row, col))
		}
	}
	return m
}

// Transpose method returns a transposed copy of the input matrix
func (m *{{.Struct}}) Transpose(in Matrix) Matrix {
	a := in.(*{{.Struct}})
	m.Reshape(a.cols, a.rows, true)
	for row := 0; row < m.rows; row++ {
		for col := 0; col < m.cols; col++ {
			m.set(row, col, a.at(col, row))
		}
	}
	return m
}

// Reshape method changes the dimensions without altering the data
func (m *{{.Struct}}) Reshape(rows, cols int, shrink bool) Matrix {
	if m.Size() < rows*cols {
		panic("blas:Reshape - matrix is too small")
	}
	m.rows, m.cols = rows, cols
	if shrink || m.stride < m.cols {
		m.stride = m.cols
	}
	return m
}

// Row method returns a view on the matrix with rows [r1:r2] exclusive.
func (m *{{.Struct}}) Row(r1, r2 int) Matrix {
	return &{{.Struct}}{
		rows:	r2-r1,
		cols:	m.cols,
		stride: m.stride,
		data:	m.data[r1*m.stride:],
		format: m.format,
	}
}

// Col method returns a view on the matrix with columns [c1:c2] exclusive.
func (m *{{.Struct}}) Col(c1, c2 int) Matrix {
	return &{{.Struct}}{
		rows:	m.rows,
		cols:	c2-c1,
		stride: m.stride,
		data:	m.data[c1:],
		format: m.format,
	}
}

// Set method sets all elements of the matrix to the given value
func (m *{{.Struct}}) Set(val float64) Matrix {
	value := {{.Type}}(val)
	for row := 0; row < m.rows; row++ {
		for col := 0; col < m.cols; col++ {
			m.set(row, col, value)
		}
	}
	return m
}

// Scale method muliplies each element of the matrix by a scalar.
func (m *{{.Struct}}) Scale(s float64) Matrix {
	sc := {{.Type}}(s)
	for row := 0; row < m.rows; row++ {
		for col := 0; col < m.cols; col++ {
			m.set(row, col, m.at(row, col)*sc)
		}
	}
	return m
}

// Add method evaluates a + sc * b and puts the result in m.
func (m *{{.Struct}}) Add(m1, m2 Matrix, sc float64) Matrix {
	checkEqualSize("blas:Add", m1, m2, m)
	a, b := m1.(*{{.Struct}}), m2.(*{{.Struct}})
	scale := {{.Type}}(sc)
	for row := 0; row < m.rows; row++ {
		for col := 0; col < m.cols; col++ {
			m.set(row, col, a.at(row, col) + scale*b.at(row, col))
		}
	}
	return m
}

// Cmp method compares a and b and returns a matrix with 0 where they are equal else 1.
func (m *{{.Struct}}) Cmp(m1, m2 Matrix, epsilon float64) Matrix {
	checkEqualSize("blas:Cmp", m1, m2, m)
	a, b := m1.(*{{.Struct}}), m2.(*{{.Struct}})
	eps := {{.Type}}(epsilon)
	for row := 0; row < m.rows; row++ {
		for col := 0; col < m.cols; col++ {
			ax, bx := a.at(row, col), b.at(row, col)
			if ax < bx-eps || ax > bx+eps {
				m.set(row, col, 1) 
			} else {
				m.set(row, col, 0) 
			}
		}
	}
	return m
}

// MulElem method performs element wise multiplication of the two input matrices and puts the output in m.
// If trans1, trans2 flag is set then input matrices are transposed first.
func (m *{{.Struct}}) MulElem(m1, m2 Matrix) Matrix {
	checkEqualSize("blas:Cmp", m1, m2, m)
	a, b := m1.(*{{.Struct}}), m2.(*{{.Struct}})
	for row := 0; row < a.rows; row++ {
		for col := 0; col < a.cols; col++ {
			m.set(row, col, a.at(row, col) * b.at(row, col))
		}
	}
	return m
}

// Mul method multiplies two matrices using regular matrix multiplication and puts the output in m.
// Second matrix must be transposed first before input to this routine.
func (m *{{.Struct}}) Mul(m1, m2 Matrix) Matrix {
	a, b := m1.(*{{.Struct}}), m2.(*{{.Struct}})
	if a.cols != b.cols {
		panic("blas:Mul - mismatch in no. of rows and columns in input matrices")
	}
	m.Reshape(a.rows, b.rows, true)
	for row := 0; row < a.rows; row++ {
		for col := 0; col < b.rows; col++ {
			sum := {{.Type}}(0)
			for k := 0; k < a.cols; k++ {
				sum += a.at(row, k) * b.at(col, k)
			}
			m.set(row, col, sum)
		}
	}
	return m
}

// Sum method calculates the sum of the values in the matrix
func (m *{{.Struct}}) Sum() float64 {
	sum := 0.0
	for row := 0; row < m.rows; row++ {
		for col := 0; col < m.cols; col++ {
			sum += float64(m.at(row, col))
		}
	}
	return sum
}

// MaxCol method gets the column number with the maximim value for each row of the input matrix.
func (v *{{.Struct}}) MaxCol(in Matrix) Matrix {
	m := in.(*{{.Struct}})
	if v.Size() < m.rows {
		panic("blas:MaxCol - output matrix is too small")
	}
	v.rows, v.cols = m.rows, 1
	for row := 0; row < m.rows; row++ {
		max, maxcol := {{.Type}}(-1e38), 0
		for col := 0; col < m.cols; col++ {
			if val := m.at(row, col); val > max {
				max, maxcol = val, col
			}
		}
		v.data[row] = {{.Type}}(maxcol)
	}
	return v
}

// Norm method divides each element by the sum of the values in that row.
func (m *{{.Struct}}) Norm(in Matrix) Matrix {
	a := in.(*{{.Struct}})
	m.Reshape(a.rows, a.cols, false)
	for row := 0; row < m.rows; row++ {
		sum := 0.0
		for col := 0; col < m.cols; col++ {
			sum += float64(a.at(row, col))
		}
		scale := 1.0 / {{.Type}}(sum)
		for col := 0; col < m.cols; col++ {
			m.set(row, col, scale * a.at(row, col))
		}
	}
	return m
}

func (m *{{.Struct}}) apply(in Matrix, fn Unary64) {
	a := in.(*{{.Struct}})
	m.Reshape(a.rows, a.cols, false)
	for row := 0; row < m.rows; row++ {
		for col := 0; col < m.cols; col++ {
			val := float64(a.at(row, col))
			m.set(row, col, {{.Type}}(fn(val)))
		}
	}
}

func (m *{{.Struct}}) apply2(m1, m2 Matrix, fn Binary64) {
	checkEqualSize("binary64:Apply", m1, m2, m)
	a, b := m1.(*{{.Struct}}), m2.(*{{.Struct}})
	for row := 0; row < m.rows; row++ {
		for col := 0; col < m.cols; col++ {
			v1 := float64(a.at(row, col))
			v2 := float64(b.at(row, col))
			m.set(row, col, {{.Type}}(fn(v1, v2)))
		}
	}
}